data/raw/*
!data/raw/**/
data/raw/single_trees/*

data/processed/*

data/results/*
!data/results/**/
data/results/figures/*

sandbox/

*.html

.Rproj.user
.Rhistory

/.quarto/
/doc/
/Meta/
**/.quarto/

/.luarc.json
**/*.quarto_ipynb
